extends layout

block content
  h1 Auto Summary
  p.lead AI program to make summary from video
  hr

  form(action='/postvideo', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='message') Youtube Video URL
      .col-md-8
        textarea.form-control(name='message', id='message', rows='1', autofocus=(!unknownUser).toString(), required)
    .form-group
      .offset-md-2.col-md-8.p-1
        .g-recaptcha(data-sitekey=sitekey)
        br
        button.btn.btn-primary(type='submit')
          | Post Video

  hr

  form(action='/summary', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='message') Video Transaction ID
      .col-md-8
        textarea.form-control(name='transactionId', id='transactionId', rows='1', autofocus=(!unknownUser).toString(), required)
    .form-group
      .offset-md-2.col-md-8.p-1
        .g-recaptcha(data-sitekey=sitekey)
        br
        button.btn.btn-primary(type='submit')
          | Get Summary        